//
html,body{
  width: 100%;
  height: 100%;
}
//wrapper
.wrapper,.container{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @include size(100%,100%);
}

.pin{
  //opacity: 0;
  display: none;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  overflow: hidden;
  @include transition(opacity 1s);
  box-sizing: border-box;
  &.current{
    display: block;
    //opacity: 1;
    z-index: 1;
  }
}


.title{
  font-size: 0.24rem;
  text-align: center;
  margin: 0.2rem auto;
}

.logo{
  @include size(3.33rem,0.94rem);
  padding-top: 0.4rem;
  margin: 0 auto 0.4rem;
}
.btn{
  text-align: center;
  span{
    display: inline-block;
    padding: 0.2rem 1rem;
    background: #6c0000;
    color: #f95f60;
    font-size: 0.32rem;
    &:active{
      background: #350000;
      color: #efc8c8;
    }
  }
}

//verticle align
.v-content{
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%));
}

//for home page
#pin-home{
  .title{
    background: url('../images/p1-t1.png') no-repeat;
  }
}

//for game page
#pin-game{
  border-right: #582b0b 1px solid;
  border-left: #582b0b 1px solid;
  background: #944e1e;
  .pin-content{
    .role{
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 10;
      @include size(100%,1.3rem);
      overflow: hidden;
      //@include transition(left 4s linear);
      -webkit-mask-size: 100% 100%;
      //-webkit-mask-position: 0% 0; //hide chicken
      -webkit-mask-position: 0% 0; //show
      -webkit-mask-image: url('../images/mask.png');
      -webkit-mask-repeat: no-repeat;
      background: red;

      .role-progress{
        position: absolute;
        left: 0;
        bottom: 0;
        @include size(3.66rem,1.3rem);
        //@include size(100%,1.6rem);
        overflow: hidden;
        @include transition(all 2s linear);
        &.change{
          @include transform(rotateY(180deg));
        }
        img{
          width: auto;
          height: 100%;
        }
      }
      &.go-left{
        @include transform(rotateY(180deg));
      }
      //.light-mask{
      //  width: 100px;
      //  height: 100px;
      //  background: url('../images/p1-t1.png') no-repeat;
      //  background-size: 100%;
      //  -webkit-mask-size: 100%;
      //  -webkit-mask-position: 0% 0%;
      //  -webkit-mask-image: url('../images/p1-t1.png');
      //}
      &.floor2mask{
        -webkit-mask-image: url('../images/mask-floor2.png');
      }
      &.floor3mask{
        height: 3.64rem;
        -webkit-mask-image: url('../images/mask-floor3.png');
      }
    }
  }
  .screen{
    position: relative;
    border: #582b0b 1px solid;
    margin-bottom: 0.15rem;
    width: 6.97rem;
    height: 3.64rem;
    text-align: center;
    .l-bg{
      position: relative;
      z-index: 1;
    }
    .pipe{
      position: absolute;
      right: -0.18rem;
      bottom: 0.05rem;
      @include size(1.36rem,4.83rem);
      background: url('../images/pipe.png') no-repeat;
      background-size: 100%;
    }
    .pipe-bg{
      z-index: 9;
    }
    //z-index large than role
    .pipe-cover{
      z-index: 11;
      background-position: 0 100%;
    }
    .level{
      position: absolute;
      bottom: 0;
      width: 1.31rem;
      height: 2.9rem;
      left: 3.2rem;
      z-index: 3;
      &.after{
        left: 2.4rem;
        width: 2.98rem;
        height: 4.8rem;
      }
    }

    &.screen-1{
      margin-bottom: 0;
      background: url("../images/1floorbg.jpg") no-repeat;
      background-size: 100%;
    }
    &.screen-2{
      .pipe{
        left: -0.18rem;
        transform: rotateZ(180deg);
      }
    }
  }
}


//for dialogue
.dialogue{
  display: none;
  @include size(6rem,4rem);
  position: absolute;
  z-index: 11;
  #floor1 &{
    left: 1.5rem;
    bottom: 1.2rem;
  }
  #floor2 &{
    left: 0.25rem;
    bottom: 1.2rem;
  }
  #floor3 &{
    left: 0.6rem;
    bottom: -3.3rem;
  }
  &.show{
    display: block;
  }
  .dialogue-bg{
    position: absolute;
    left: 0;
    top: 0;
    @include size(6rem,4rem);
    z-index: 1;
  }
  .dialogue-tips{
    position: relative;
    left: 2.4rem;
    top: 0.6rem;
    z-index: 2;
    @include size(4.04rem,1.95rem);
    background-image: url('../images/dialogue-content-text.png');
    background-repeat: no-repeat;
    background-size: 100%;
    #floor1 &{
      background-position: 0 0;
    }
    #floor2 &{
      background-position: 0 45%;
    }
    #floor3 &{
      background-position: 0 100%;
      left: 1.5rem;
      top: 1.2rem;
    }
  }
  .dialogue-btn{
    position: relative;
    left: 3rem;
    margin-top: 0.7rem;
    z-index: 2;
    background: #cd1350;
    @include size(2.31rem,0.75rem);
    border-radius:20px;
    border: #5c2c14 2px solid;
    box-sizing: border-box;
    span{
      display: block;
      position: absolute;
      bottom: 0.05rem;
      left: -0.04rem;
      @include size(2.31rem,0.75rem);
      border-radius:20px;
      border: #5c2c14 2px solid;
      box-sizing: border-box;
      background-color: #f4407b;
      background-image: url('../images/dialogue-btn-text.png');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0.35rem -10%;
      @include animation(btnAni 1s steps(2) infinite);
      #floor1 &{
        background-position: 0.35rem 83%;
      }
      #floor2 &{
        background-position: 0.35rem -10%;
      }
      #floor3 &{
        background-position: 0.35rem 33%;
      }
    }
    @include keyframes(btnAni){
      0%{
        background-color: #cd1350;
        bottom: -0.04rem;
      }
      100%{
        background-color: #f4407b;
        bottom: 0.1rem;
      }
    }
  }
  #floor1 &{
    left: 1.2rem;
    bottom: 2.3rem;
  }
}

//floor1
#floor1{

}